* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* text-align: center; */
}

#page-heading {
    text-align: center;
    color: grey;
    margin-top: 25px;
}

ul {
    list-style: none;
}
/* 
.contact-container {
    width: 30%;
    height: auto;
    margin: 5px auto;
    background-color: skyblue;
    display: flex;
    color: white;
    font-size: 0.9rem;
    justify-content: space-between;
}

p{
    padding: 1% 1%;
}

.contact-container:hover{
    background-color: grey;
} */

.form-container {
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* text-align: left; */
}

.form-container input {
    border: none;
    border-bottom: 1px solid grey;
}

.form-container button {
    border: none;
    padding: 5px;
}

#contacts-list-container{
    width: 30%;
    margin: auto;
}


#contacts-list-container ul{
    padding: 0;
    list-style: none;    
}

.contact {
    padding: 3px 10px;
    border: 1px solid white;
    background-color: skyblue;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: white;
    display: flex;
}

.contact:hover{
    background-color: grey;
}

.contact .delete-button a{
    color: white;
    background-color: red;
}


.contact .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.contact .delete-button{
    width: 10%;
    /* padding: 3px; */
    text-align: center;
    margin-top: 5px;
}

.contact p{
    margin: 5px 0;
}

